.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #a2a2d0;
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%, 100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 1s opacity;
}

.loaded .preloader {
  display: none;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 5;
}

.logo {
    float: left;
    font-size: 20px;
    line-height: 60px;
    color: #fff;
    animation: coming 2s ease;
    animation-delay: 1s;
}

@keyframes coming {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu {
    float: left;
}

.menu li {
    float: left;
    font-size: 14px;
    color: #fff;
    line-height: 60px;
    text-transform: uppercase;
    margin-right: 20px;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(1) {
    animation-delay: 1s;
}
.menu li:nth-child(2) {
    animation-delay: 1.4s;
}
.menu li:nth-child(3) {
    animation-delay: 1.8s;
}
.menu li:nth-child(4) {
    animation-delay: 2.2s;
}
.menu li:nth-child(5) {
    animation-delay: 2.6s;
}
.menu li:nth-child(6) {
    animation-delay: 3.0s;
}

.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: all 0.1s;
    transform: scale(1);
}


.white-btn:visited {
    color: white;
}

.menu li a:visited {
    color: white;
}

.menu li a:active {
    transform: scale(1.1);
}
.menu li a:hover {
    color: orange;
}

.activemenu {
    font-size: 15px;
    color: orange !important;
}

main {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) no-repeat 90% 100% / auto 80%, url(../img/bg.jpg) center/cover no-repeat;
}

.title_container {
    text-align: center;
    color: #2c384a;
    animation: titlemove 1s ease forwards;
    animation-delay: 3s;
    opacity: 0;
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -100px;
    }
    to {
        opacity: 1;
        margin-left: 0px;
    }
}

.title_container {
    margin-top: 150px;
}

.title_container input {
    transition: all 0.2s;
    transform: scale(1.0);
}

.title_container input:active {
    transform: scale(1.1);
}

.title_container input:hover {
    background: #344051;
    color: white;
}

.title_container h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 45px;
}

.title_container h4 {
    font-size: 14px;
    letter-spacing: -1px;
    color: #79818d;
    margin-top: 20px;
}

.title_container input {
    font-size: 13px;
    color: #6d7682;
    text-align: center;
    margin: 32px 14px 0px 14px;
    border: 2px solid #6d7682;
    border-radius: 5px;
    background: none;
    height: 30px;
    padding: 0px 16px;
}

@media (max-width: 800px) {
    .title_container, .title_container h4, .title_container input {
        color: white;
        position: relative;
        z-index: 3;
    }

    .title_container input {
        border: 2px solid #fff;
    }

    main {
        position: relative;
    }

    main:after {
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
    }
}

.my_info h3 {
    margin: 100px auto 0 auto;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -2px;
    color: #263244;
    text-transform: uppercase;
    width: 150px;
    text-align: center;
}

.my_info > img {
    display: block;
    margin: 30px auto 0 auto;
}

.circle_photo img {
    display: block;
    margin: 30px auto 0 auto;
}

.my_info p {
    font-size: 13px;
    font-weight: 600;
    color: #526070;
    margin: 20px auto;
    width: 70%;
    text-align: center;
}

.myinfo_button button {
    display: block;
    height: 35px;
    font-size: 13px;
    font-weight: 600;
    color: #6f7180;
    text-align: center;
    border: 2px solid #6f7180;
    border-radius: 7px;
    background: none;
    margin: 25px auto 96px auto;
    padding: 0 10px;
}

.myinfo_button button {
    transition: all 0.2s;
    transform: scale(1.0);
}

.myinfo_button button:hover {
    background: #344051;
    color: white;
}

.myinfo_button button:active {
    transform: scale(1.1);
}

.skills {
    width: 100%;
    height: auto;
    background: url(../img/ability.jpg) center/cover no-repeat;
    background-attachment: fixed;
}

.skills_container h3 {
    margin: 0 auto;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -2px;
    color: #263244;
    text-align: center;
    padding-top: 108px;
    width: 200px;
    text-transform: uppercase;
}

.skills_container > img {
    display: block;
    margin: 30px auto 104px auto;
}

.skills_list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.skills_list h4 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -1.5px;
    color: #cf7600;
    padding-top: 30px;
}

.skills_list p {
    font-size: 10px;
    letter-spacing: -1.0px;
    color: #38475a;
    text-align: center;
    width: 100%;
    margin-bottom: 89px;
    margin-top: 20px;
    padding: 0 20px;
}

.skills_list img {
    height: 40px;
}

.case_title h3 {
    font-size: 33px;
    font-weight: 600;
    letter-spacing: -0.6px;
    text-align: center;
    margin-top: 105px;
    color: #384354;
    text-transform: uppercase;
}

.image img {
    display: block;
    margin: 29px auto;
}

.text p {
    font-size: 17px;
    font-weight: 600;
    color: #3f495a;
    margin: 36px auto 39px auto;
    text-align: center;
}

.image2 img {
    display: block;
    height: 800%;
    width: 80%;
    margin: 0 auto 39px auto;
}

.case2 h3 {
    letter-spacing: -1.5px;
    font-size: 25px;
    font-weight: 600;
    color: #384354;
    text-transform: uppercase;
}

.case2 span {
    font-size: 16px;
    color: #3f495a;
}

.project h3 {
    text-transform: none;
}

.but button {
    margin-top: 15px;
    height: 47px;
    width: 240px;
    text-align: center;
    border: 2px solid #63b5ae;
    background-color: #63b5ae;
    border-radius: 5px;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: -1.2px;
    color: #fff;
    text-transform: uppercase;
    transform: scale(1.0);
}

.but button:hover {
    transition: all 0.5s;
    color: black;
}

.but button:active {
    transition: all 0.1s;
    transform: scale(1.3);
}

.cost h2 {
    font-size: 46px;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 200px;
    color: #102032;
}

.cost h3 {
    font-size: 29px;
    font-weight: 600;
    margin-top: 60px;
    color: #102032;
}

.cost select {
    margin-top: 22px;
    width: 100%;
    background-color: #eeeeee;
    height: 58px;
    font-size: 17px;
    font-weight: 600;
    color: #747474;
}

.costs_line img {
    margin-top: 37px;
    margin-bottom: 25px;
    width: 68%;
}

.cost4 h4 {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: -1.5px;
    color: #1c2534;
    line-height: 30px;
    margin-bottom: 10px;
    
}

.cost5 p {
    font-size: 26px;
    font-weight: 700;
    color: #1c2534;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: end;
}

.element5, .element6, .element7 {
    opacity: 0;
}

.element5.show, .element6.show, .element7.show,  {
    opacity: 1;
    transition: opacity 1s;
}

.cost_btn button {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 42px;
    height: 45px;
    width: 200px;
    border: 2px solid #63b5ae;
    background-color: #63b5ae;
    border-radius: 5px;
    font-size: 20.83px;
    font-weight: 600;
    letter-spacing: -1.5px;
    color: #fff;
    transition: all 0.2s;
    transform: scale(1);
}

.cost_btn button:hover {
    background: #50908a;
    border: 2px solid #50908a;
}

.cost_btn button:active {
    transform: scale(1.1);
    background: #63b5ae;
    border: 2px solid #63b5ae;
}

.stats {
    background: url(../img/bg_stats.png);
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stats_info h3 {
    font-size: 33px;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
    color: #293b4f;
    text-transform: uppercase;
    padding-top: 105px
}

.stats_info img {
    display: block;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
}

.stats_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 89px;
    text-align: center;
}

.stats_list h4 {
    font-size: 35px;
    font-weight: bolder;
    letter-spacing: -1.5px;
    color: #293b4f;
    padding-top: 30px;
    padding-bottom: 15px;
}

.stats_list p {
    font-size: 18px;
    color: #293b4f;
    text-align: center;
    font-weight: 600;
}

.stats_list img {
    height: 52px;
}

.review {
    margin-top: 105px;
}

.review h3 {
    font-size: 33px;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 0px;
    color: #263244;
    text-transform: uppercase;
}

.review > img {
    display: block;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;

}

.review_info img {
    display: block;
    margin-top: 62px;
    margin-left: auto;
    margin-right: auto;
}

.review_text p {
    font-size: 18px;
    font-weight: 600;
    color: #526070;
    margin-top: 35px;
    margin-bottom: 50px;
    text-align: center;
}

.review_button {
    text-align: center;
    margin-bottom: 92px;
}

.review_button button {
    border-radius: 100%;
    height: 8px;
    width: 8px;
    background-color: #ec8200;
    margin-right: 15px;
    margin-bottom: 
}

.contacts {
    margin-top: 20px;
    width: 100%;
    height: auto;
    background: url(../img/bg_contacts.png) center/cover no-repeat;
}

.contacts_info h3 {
    font-size: 33px;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
    padding-top: 105px;
    color: #fff;
    text-transform: uppercase;
}

.contacts_info img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contacts_info p {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
    letter-spacing: -1px;
}

.contacts_list {
    text-align: center;
    display: flex;
}

.contacts_list a {
    font-size: 17px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
}
.contacts_list p {
    margin-top: 13px;
}
.contacts_list img {
    height: 27px;
}

.contacts_list a {
    color: #fff;
    text-decoration: none;
}

.recall h3 {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 39px;
    color: #fff;
    text-transform: uppercase;
}

.contacts_form_input input {
    font-size: 17px;
    font-weight: 600;
    height: 35px;
    width: 360px;
    background-color: #d2d6dc;
    margin-top: 20px;
    padding-left: 14px;
}

.contacts_form_textarea textarea {
    font-size: 17px;
    font-weight: 600;
    margin-top: 15px;
    height: 96px;
    width: 740px;
    background-color: #d2d6dc;
    padding: 5px 0px 0px 10px;
}

.contacts_button {
    text-align: center;
}

.contacts_button input {
    margin: 29px 0px 166px 0px;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: -2px;
    height: 47px;
    width: 126px;
    border: 2px solid #fdfdfd;
    border-radius: 5px;
    color: #fff;
    background: none;
    text-align: center;
    transform: scale(1.0);
}

.contacts_button input:hover {
    transition: all 1s;
    background: #120631;
}

.contacts_button input:active {
    transition: all 0.3s;
    transform: scale(1.3);
    color: red;
}

#bg_popup {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#popup {
    background: #fff;
    width: 500px;
    margin: 25% auto;
    padding: 5px 20px 13px 20px;
    border: 2px solid #1BA600;
    position: relative;
    border-radius: 15px;
    text-align: center;
}

#popup button {
    margin-top: 20px;
    font-size: 20px;
    border: 3px solid black;
    background-color: #263244;
    margin-bottom: 20px;
}

.buttonclose {
    text-align: center;
}

.butmod{
    text-align: center;
    border: 3px solid black;
    background-color: #263244;
    font-size: 20px;
}

.closeMod {
    font-size: 20px;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: dark;
    background: orange;
    cursor: pointer;
    border-radius: 15px;
    opacity: 1;
}

.tail h6 {
    height: 77px;
    background: #354051;
    color: #fff;
    text-align: center;
    line-height: 77px;
    font-size: 11px;
}

.modal-title {
        position: absolute;
        left: 170px;
        top: 10px;
}

.carousel-indicators {
    width: 100px;
    height: 20px;
}

.carousel-indicators li {
    border-radius: 100%;
    height: 8px !important;
    width: 8px !important;
    background-color: #ec8200 !important;
    margin-right: 15px !important;
}