* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

* {
  font-family: "Roboto Mono", monospace;
}

.container {
  max-width: 1144px;
  width: 100%;
  margin: 0 auto;
  padding: 0 35px;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn {
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 18px 66px;
  color: #FFFFFF;
  background: #2DA4E0;
  border-radius: 10px;
}

.btn:hover {
  background: #1B7BAC;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.section__title {
  font-family: "Retro";
  font-size: 34px;
  line-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #47BE68;
}

@font-face {
  font-family: "Retro";
  src: url("../fonts/retro.ttf") format("truetype");
}

nav {
  background-color: #121214;
  overflow: hidden;
  padding: 14px 0;
  position: fixed;
  z-index: 66;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.menu__item-link {
  color: #FFFFFF;
}

.menu__item-link:hover path {
  fill: #2DA4E0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.wallet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.wallet__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 4px;
}

.wallet__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wallet__btn:hover path {
  fill: #2DA4E0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.wallet__btn:hover circle {
  stroke: #2DA4E0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.section__main {
  margin-top: 62px;
  background-color: #1C1B1F;
  padding: 70px 0 60px 0;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.main__img {
  position: absolute;
  z-index: -1;
}

.main__img-1 {
  left: 0;
  top: -50px;
}

.main__img-2 {
  left: 0;
  bottom: -40px;
}

.main__img-3 {
  left: 47%;
  top: -48px;
}

.main__img-4 {
  right: 0;
  bottom: -24px;
}

.main__item {
  max-width: 700px;
}

.main__title {
  font-size: 30px;
  line-height: 88px;
  color: #FFFFFF;
}

.main__title span {
  font-family: "Retro";
  font-size: 30px;
  color: #47BE68;
}

.main__subtitle {
  font-weight: 300;
  font-size: 22px;
  line-height: 24px;
  color: #FFFFFF;
}

.main__btn {
  margin-top: 50px;
}

.section__special {
  background-color: #1D1D1E;
  padding: 93px 0 116px 0;
}

.section__special-title {
  padding: 0 10px;
}

.special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 47px;
}

.special__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 197px;
          flex: 0 0 197px;
  margin-top: 22px;
  background: #201F23;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 27px 20px 35px;
  line-height: 24px;
}

.special__item-num,
.special__item-subtext {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #47BE68;
}

.special__item-subtext {
  font-size: 14px;
  text-transform: uppercase;
}

.special__item-hr {
  border: 1px solid #47BE68;
  margin-top: 19px;
}

.special__item-text {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin-top: 33px;
  color: #FFFFFF;
}

.section__future {
  padding: 60px 0 110px 0;
  background-color: #1C1B1F;
  position: relative;
}

.future__img {
  position: absolute;
  left: -160px;
  bottom: 267px;
}

.future {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 104px;
}

.future__item {
  max-width: 647px;
  background: #201F23;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 40px 55px 33px 43px;
  margin-top: 18px;
}

.future__item-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #47BE68;
}

.future__item-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 28px;
}

footer {
  background: -o-radial-gradient(50% 50%, 50% 50%, #121214 0%, #0F131B 100%);
  background: radial-gradient(50% 50% at 50% 50%, #121214 0%, #0F131B 100%);
  padding-top: 86px;
  position: relative;
}

footer .footer__img {
  position: absolute;
}

footer .footer__img-1 {
  right: 320px;
  bottom: 80px;
}

footer .footer__img-2 {
  right: 30px;
  top: -50px;
}

.footer {
  padding-bottom: 55px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__item {
  max-width: 512px;
}

.footer__subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 13px;
}

.footer__form-input {
  background-color: #1C1B1F;
  border-radius: 5px;
  padding: 15px 0 15px 28px;
  margin-top: 25px;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer__form-input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.footer__form-input::-moz-placeholder {
  color: #FFFFFF;
}

.footer__form-input:-ms-input-placeholder {
  color: #FFFFFF;
}

.footer__form-input::-ms-input-placeholder {
  color: #FFFFFF;
}

.footer__form-input::placeholder {
  color: #FFFFFF;
}

.footer__form-btn {
  margin-top: 33px;
  padding: 16px 60px;
  max-width: 195px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.footer__copy {
  padding: 56px 0 36px 0;
  background-color: #121214;
}

.footer__copy-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copy__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.copy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 36px;
  gap: 21px;
}

.copy__link:hover path {
  fill: #2DA4E0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.footer__copy-item-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 21px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1100px;
  }

  .main__img-4 {
    max-width: 550px;
  }

  .future__img {
    max-width: 550px;
  }
}

@media (max-width: 1349.98px) {
  .main__img-1 {
    max-width: 100px;
    top: 0;
  }

  .main__img-2 {
    left: -20px;
    max-width: 140px;
    bottom: 60px;
  }
}

@media (max-width: 1199.98px) {
  .main__img-1 {
    top: -40px;
  }

  .main__img-2 {
    max-width: 65px;
    bottom: 140px;
  }

  .main__img-3 {
    left: 72%;
    max-width: 180px;
  }

  .main__img-4 {
    max-width: 370px;
  }

  .special {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .special__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }

  .future__img {
    max-width: 500px;
  }

  footer .footer__img-1 {
    right: 150px;
  }

  footer .footer__img-2 {
    max-width: 350px;
  }
}

@media (max-width: 999.98px) {
  .future__img {
    position: static;
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 40px auto 0 auto;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .main__img-4 {
    display: none;
  }

  .main__item {
    max-width: 100%;
  }

  .future {
    margin-top: 20px;
  }

  .future__item {
    max-width: 100%;
    padding: 30px 30px;
  }

  footer .footer__img-2 {
    max-width: 210px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 750px;
  }

  .btn {
    width: 100%;
    font-size: 18px;
    padding: 13px 48px;
  }

  .section__title {
    font-size: 22px;
    line-height: 29px;
  }

  .logo img {
    width: 73px;
  }

  .wallet__text {
    font-size: 14px;
  }

  .main__logo img {
    max-width: 250px;
  }

  .main__title {
    line-height: 34px;
    font-size: 20px;
    margin: 22px 0;
  }

  .main__subtitle {
    font-size: 14px;
    line-height: 24px;
  }

  .main__btn {
    margin-top: 33px;
  }

  .special__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .special__item-num,
  .special__item-subtext {
    line-height: 30px;
    font-size: 30px;
  }

  .special__item-subtext {
    font-size: 14px;
  }

  .special__item-text {
    font-size: 16px;
  }

  .future__img {
    width: 100%;
  }

  .future__item {
    font-size: 16px;
  }

  footer {
    padding-top: 128px;
  }

  footer .footer__img-1 {
    display: none;
  }

  .footer__copy {
    padding: 48px 0 44px 0;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  footer .footer__img-2 {
    max-width: 169px;
  }

  .footer__title {
    text-align: left;
    font-size: 22px;
    line-height: 29px;
  }

  .footer__subtitle {
    font-size: 16px;
  }

  .footer__form-btn {
    margin-top: 26px;
    font-size: 18px;
    max-width: 158px;
    padding: 13px 52px;
  }
}

@media (max-width: 374.98px) {
  .menu {
    display: none;
  }
}
